#about {
  background-color: var(--graphite);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  color: white;
  height: 1000px;
  width: 100vw;
}

#about > h1 {
  margin: 4rem 0;
  font-size: 3rem;
  font-style: italic;
  color: var(--light-blue);
}

.profileImg {
  border-radius: 100%;
  height: 400px;
  z-index: 1;
}

.circle {
  position: absolute;
  margin-top: 170px;
  border-radius: 100%;
  height: 400px;
  width: 400px;
  background-color: white;
  opacity: 20%;
}

.circle1 {
  animation: 8s ease-in-out infinite circleMotion1;
}

.circle2 {
  margin-top: 210px;
  animation: 10s ease-in-out infinite circleMotion2;
  background-color: var(--light-blue);
}

.info {
  position: absolute;
  text-align: center;
  width: 200px;
  font-style: oblique;
}

.info1 {
  margin-top: 200px;
  margin-right: 850px;
}

.info2 {
  margin-top: 550px;
  margin-right: 800px;
}

.info3 {
  margin-top: 400px;
  margin-right: 850px;
  width: 150px;
  padding: 0.75em;
  border-radius: 4px;
  color: white;
  background-color: grey;
  box-shadow: -5px -5px var(--light-blue-transp);
  text-decoration: none;
}

.info3 a,
.info3 a:visited {
  color: var(--dark-grey);
}

.info4 {
  margin-top: 175px;
  margin-left: 850px;
  max-width: 250px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1em;
  margin-top: 1em;
}

.skills img {
  height: 50px;
}

@keyframes circleMotion1 {
  0% {
    opacity: 20%;
  }
  25% {
    transform: translateY(10px);
    transform: translatex(10px);
    opacity: 30%;
  }
  50% {
    transform: scale(1.05);
    transform: translatex(-10px);
    transform: translateY(-10px);
    opacity: 20%;
    background-color: var(--light-blue);
  }
  75% {
    opacity: 30%;
    transform: translateY(10px);
    transform: translatex(10px);
  }
}

@keyframes circleMotion2 {
  0% {
    opacity: 20%;
  }
  25% {
    transform: translateY(-10px);
    transform: translateX(-10px);
    opacity: 30%;
  }
  50% {
    transform: scale(1.1);
    transform: translateY(-10px);
    transform: translateX(-10px);
    opacity: 20%;
    background-color: white;
  }
  75% {
    transform: translateX(10px);
    transform: translateY(10px);
    opacity: 30%;
  }
}

@media screen and (max-width: 1200px) {
  #about {
    height: 80vh;
  }
  .profileImg {
    height: 33vw;
  }
  .circle {
    position: absolute;
    margin-top: 17vh;
    height: 33.5vw;
    width: 33.5vw;
  }
  .circle2 {
    margin-top: 20vh;
  }
  .info1 {
    margin-top: 15vw;
    margin-right: 70vw;
  }
  .info2 {
    margin-top: 43vw;
    margin-right: 68vw;
  }
  .info3 {
    margin-top: 31vw;
    margin-right: 70vw;
  }
  .info4 {
    margin-top: 14vw;
    margin-left: 70vw;
    max-width: 30vw;
  }
  .skills {
    gap: 0.8em;
    margin-top: 0.8em;
  }
  .skills img {
    height: 40px;
  }
  #about h1 {
    font-size: 2rem;
  }
  #about h2 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 900px) {
  #about {
    gap:1.5rem;
    height: auto;
    padding-bottom: 2rem;
  }
  #about > h1 {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .circle {
    margin-top: 100px;
    height: 33vw;
    width: 33vw;
  }
  .info {
    position: static;
    margin: 0;
  }
  .skills {
    justify-content: center;
  }
}
