.homeContainer {
  background-color: var(--dark-grey);
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
}

#name {
  font-size: 190px;
  line-height: 150px;
  color: white;
  animation: 1s ease-in-out 0s 1 fadeIn;
}

#lastName {
  font-size: 66px;
  line-height: 55px;
  color: var(--light-grey);
  animation: 1s ease-in-out 0s 1 fadeIn;
}

#title {
  font-size: 70px;
  line-height: 60px;
  color: var(--light-blue);
  animation: 2s ease-in-out 0s 1 fadeIn2;
}

@media screen and (max-width: 500px) {
  .titleContainer {
    width: 350px;
  }
  #name {
    font-size: 35vw;
    line-height: 29vw;
  }
  #lastName {
    font-size: 12.5vw;
    line-height: 10vw;
  }
  #title {
    font-size: 13vw;
    line-height: 11vw;
  }
}
